---
pagination:
    data: files
    size: 1
    alias: file
permalink: "download/{{ file.shortname }}.html"
---
{% set filename = file.shortname | buildArchiveFile %}

{# <script>window.location.replace("{{ filename }}");</script> #}
<a href="{{ filename }}" rel="nofollow">Download</a>