---
layout: default
pagination:
    data: apps.stagedFiles
    size: 1
    alias: file
    addAllPagesToCollections: false
permalink: "/download/{{ file.downloadURL }}/"
---
{% set filepath = ("assets/downloads/" + file.name) | absoluteURI %}
{% set previous = '' | absoluteURI %}
<p>
  Download should start automatically. If not, click
  <a class="hover:underline" href="{{ filepath }}" rel="nofollow">here</a>
  to download file.
</p>
<p><a class="hover:underline" href="{{ previous }}">Go back</a></p>
<script>
    const goBack = () => window.location.replace("{{ previous }}");
    setTimeout(function () {
        goBack();
    }, 2000);
    window.location.replace("{{ filepath }}");
</script>