---
layout: default
pagination:
    data: apps.archiveFiles
    size: 1
    alias: file
    addAllPagesToCollections: false
permalink: "/download/{{ file | stripExtension | archiveURL }}/"
---
<p>
    {% set filepath = ("assets/archives/" + file) | absoluteURI %}
    <script>
        const goUp = () => window.location.replace("{{ '' | absoluteURI }}");
        setTimeout(function () {
            goUp();
        }, 1000); 
        window.location.replace("{{ filepath }}");</script
    </script>
    <a class="hover:underline" href="{{ filepath }}" rel="nofollow">Download file</a><br>
</p>
<p><a class="hover:underline" href="{{ '' | absoluteURI }}">Go back</a></p>