
<div class="grid md:grid-cols-2 gap-4">
  <div>
  {% for app in apps.each %}
    <h2 class="text-3xl pt-8 lg:pt-0 my-1 mt-5 ml-3 border-b border-highlight" id="{{ app.shortname }}">
        <a class="text-highlight" href="#{{ app.shortname }}">{{ app.name }}</a>
        {% if app.source %}
        <span class="text-align-right">
          <a class="inline-flex text-sm italic hover:underline group" href="{{ app.source }}" target="_blank">
            SOURCE CODE<span class="invisible group-hover:visible">{%include "icons/new-window.svg" %}</span>
          </a>
        </span>
        {% endif %}
    </h2>
    <ul class="list-none">
      {% for file in app.files %}
        <div class="tracking-wide w-3/4 mb-2">
          <li class="pl-3 border-l border-highlight">
            <a class="inline-flex hover:underline" href="/download/{{ file | stripExtension | archiveURL }}/" rel="nofollow">{{ file }}</a>
          </li>
        </div>
      {% endfor %}
    </ul>
  {% endfor %}
  </div>
</div>
