<header id="header" class="bg-header_bg w-full px-6 py-5 z-50 fixed top-0 shadow-md print:hidden">
    <div class="max-w-5xl mx-auto flex items-center flex-wrap justify-between">
        <div class="sm:mr-8">
            <a class="text-xl text-teal-700 font-semibold self-center" href={{ "" | absoluteURI }}>{{ site.title }}</a>
        </div>
        <div class="flex space-x-5">
        </div>   
    </div>
</header>